  <% if flash[:alert] %> 
  <div class="alert alert-danger"><%=flash[:alert]%></div>
  <% elsif flash[:notice]  %>
  <div class="alert alert-success"><%=flash[:notice]%></div>
  <% elsif flash[:message] %>
  <div class="alert alert-info"><%= flash[:message]%></div>
  <%end%>