<section id="photo1">
      <div class="hero-unit">
        <h3  class="titles" class="center">Introducing a new series of lunch and learn events for Vancouver's tech community.</h3>  
        <h2 id="upcase" class="center">Join us for tech talks and free food</h2>
        

        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2">
          </div>

          <div class="col-lg-8 col-md-8 col-sm-8 box">
            <div id="upcase"><%= render "events/event_list" %></div>
          </div>
          
          <div class="col-lg-2 col-md-2 col-sm-2">
          </div>
        </div>

        <br>
        <p class="center">
          <a id="home-button"><%= link_to 'Register', "#photo2", class: "btn btn-warning btn-lg home-button"%></a>
        </p>
        <p class="center titles">Website developed by CodeCore's 1st Cohort - week 4, please visit
          <a href="http://www.codecore.ca"> codecore's website</a> for more information</p>  
          <!-- <h5 class="titles" class="pull-right">Website Design by CodeCore's Cohort #1</h5> -->
          <br>
        </div>
        <div class="titles" class="pull-right">
          <h6><a href="http://www.flickr.com/photos/magnusl3d/6044910841/" class="cc_ref">Photo</a> by Larsson <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.en" id="cc_ref">CC BYSA3.0</a></h6>
            <div class="clear-float"></div>
        </div>
  </section>