      <table class="table">
        <% @events.each do |event| %>
        <tr>
          
          <td><a href="#<%=event.id%>"><%=event.date.strftime("%A, %B %C")%></a></td>
          <td><a href="#<%=event.id%>"><%=event.title%></a></td>
        </tr>
        <% end %>

      </table>