<div id ="eventslist2">">
  <table class="table">
   <% @events.each do |event| %>
  <tr>
      <td><%=event.date.strftime("%A, %B %C")%></td>
      <td><%=event.title%></td>
      <td><%= check_box_tag "attendee[event_ids][]",event.id,false%></td>
  </tr>
    <% end %>
  </table>
</div>