<section id="team-photos">
  <h2 class="titles">Website Created by CodeCore-CohortOne</h2>
  <div class="box">
    
    <% member_count = 0 %>
    <% team_members.each do |member_hash| %>
    <% member_count += 1 %>
      <%= render "events/team_member", member_hash: member_hash %>
    <% end %>
 <div class="clearfix"></div>
 </div>



     <div id="titles" class="pull-right">
    <h6><a href="http://upload.wikimedia.org/wikipedia/commons/9/9b/GrouseMountain.jpg" class="cc_ref">Photo</a> by Ice-Babe <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.en" id="cc_ref">CC BYSA3.0</a></h6>
    <div class="clear-float">
</section>