<section id="section3">
    <div class="schedule">
      <div class="row text-shadow"><h2 class="upcase-blk">Events:</h2></div>
    </div>
    <div id="eventslist">
      <div class="hero-unit">
              <div class="row" id="9" >
                <div class="col-md-3">
                  <div class="center">
                    <div class="thumbnail">
                      <img alt="Kevin moore" class="post-thumb" src="https://s3.amazonaws.com/corecore-events/image/9/medium/Kevin_Moore.jpg?1392672846" /></div>
                              <h3 class="upcase">Kevin Moore</h3>
                                        <a class="profile-links" href="http://www.linkedin.com/in/kevinrmoore"><i class="fa fa-linkedin-square fa-2x linkedin-social profile-links"></i></a>          

                                    <a class="profile-links" href="https://twitter.com/kevmoo"><i class="fa fa-twitter-square fa-2x twitter-social profile-links"></i></a>          
                      <h5 class="upcase jquery-dates"> Past Event</h5>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="">
                      <h4><strong class="upcase">LEARN DART AND ANGULAR, GET YOUR WEB DEVELOPMENT WINGS with Kevin Moore from Google</strong></h4>
                      <p class="social-share">Share Event:
                         <div class='social-share-button' data-title='LEARN DART AND ANGULAR, GET YOUR WEB DEVELOPMENT WINGS with Kevin Moore from Google' data-img='' data-url=''>
<a class="social-share-button-twitter" data-site="twitter" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Twitter"></a>
<a class="social-share-button-facebook" data-site="facebook" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Facebook"></a>
<a class="social-share-button-google_plus" data-site="google_plus" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Google+"></a>
<a class="social-share-button-tumblr" data-site="tumblr" data-source="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTdsjWnPtvccjwXi18Hbab91KDKChPoWSMCF0maMUBMjSuwAKQL" data-type="photo" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Tumblr"></a>
</div>
                      </p>
                      <p class="titles">Description: Dart hit 1.0 and is now Flight Ready! Dart helps you build modern web apps with a new language, core libraries, and tools such as a package manager, editor, and a compiler to JavaScript. Use Angular with Dart for extra jet fuel.</p>      
                      
                      <p class="titles">Kevin Moore has worn many hats. Program manager. Project manager. People manager. Evangelist. Software engineer. 
He started programming at 9 and was building web software professionally at 15. Spent 6 years at Microsoft working on Microsoft Windows and Windows Presentation Foundation as a Program Manager. He became a recognized expert in component design and implementation for user interfaces and provided software consulting and freelancing services targeting Open Source web technologies.
He is now the Dart program manager at Google. <br> <br>
<h4>Sponsored By: </h4> <img src="https://s3.amazonaws.com/codecore-website-data/images/logotype-axiomzen-v3-final-hires-light.png" height = "55px"> <br><h5>And</h5><img src="https://lh6.googleusercontent.com/-PuqFSgGFfFM/UTYsInkX8_I/AAAAAAAAABM/myx1eIGHQ8I/s800-no/GDG-program-icon.png" height = "70px"></p>
                      
                  </div>
                </div>

                <div class="col-md-3 vertical-center-row">
                  <div class="center">
                      <br><br>
                      <br>
                      <br>
                      <br>
                      <p class="titles">Sun, Mar 02, 2014</p>
                      <h5>09:00 AM - 05:00 PM</h5>  
                      <div class="clearfix"></div>
                  </div>  
                </div>                
            </div>
        </div>
        <div class="row">&nbsp;</div><!--  This row is to put a default distance between events -->
      <div class="hero-unit">
              <div class="row" id="8" >
                <div class="col-md-3">
                  <div class="center">
                    <div class="thumbnail">
                      <img alt="Marc kuo" class="post-thumb" src="https://s3.amazonaws.com/corecore-events/image/8/medium/marc-kuo.jpg?1393121680" /></div>
                              <h3 class="upcase">Marc Kuo</h3>
                                        <a class="profile-links" href="http://www.linkedin.com/in/kuomarc"><i class="fa fa-linkedin-square fa-2x linkedin-social profile-links"></i></a>          
                           
                                    <a class="profile-links" href="https://twitter.com/AxiomZenTeam"><i class="fa fa-twitter-square fa-2x twitter-social profile-links"></i></a>          
                      <h5 class="upcase jquery-dates"> Past Event</h5>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="">
                      <h4><strong class="upcase">Intro to Angular Javascript with Marc Kuo and Axiom Zen</strong></h4>
                      <p class="social-share">Share Event:
                         <div class='social-share-button' data-title='Intro to Angular Javascript with Marc Kuo and Axiom Zen' data-img='' data-url=''>
<a class="social-share-button-twitter" data-site="twitter" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Twitter"></a>
<a class="social-share-button-facebook" data-site="facebook" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Facebook"></a>
<a class="social-share-button-google_plus" data-site="google_plus" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Google+"></a>
<a class="social-share-button-tumblr" data-site="tumblr" data-source="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTdsjWnPtvccjwXi18Hbab91KDKChPoWSMCF0maMUBMjSuwAKQL" data-type="photo" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Tumblr"></a>
</div>
                      </p>
                      <p class="titles">Description: The Axiom Zen will lead a hands-on introductory workshop on Angular:
This is intended to give you a taste of the power of this framework, and leave you with enough pointers to kickstart your own quest into the vast realm of open source JavaScript frameworks. During the workshop we will building simple Todo app; the “Hello World” of Single Page Applications, bootstrapping the angular-seed project. We will go over some basic high-level Angular concepts, such as two-way data binding, scopes, modules, controllers, services, filters and directives.</p>      
                      
                      <p class="titles">Axiom Zen is an idea catalyst; they launch iconic products, brands, and companies working in partnership with the world's leading innovators. Their team members have worked with industry titans and fast-growing startups alike - Apple, Google, Facebook, Etsy, Baidu, and EA, among others - and hail from every corner of the globe.

They are a team of 30+ engineers and creatives based in beautiful Vancouver, British Columbia. They operate with a flat hierarchy, a collaborative culture, and a focus on results. They like to build products that millions of people love to use, products that make the world more efficient and delightful. <br> <br>
<h4>Sponsored By: </h4> <img src="https://s3.amazonaws.com/codecore-website-data/images/logotype-axiomzen-v3-final-hires-light.png" height = "55px"></p>
                      
                  </div>
                </div>

                <div class="col-md-3 vertical-center-row">
                  <div class="center">
                      <br><br>
                      <br>
                      <br>
                      <br>
                      <p class="titles">Sat, Mar 01, 2014</p>
                      <h5>01:00 PM - 05:00 PM</h5>  
                      <div class="clearfix"></div>
                  </div>  
                </div>                
            </div>
        </div>
        <div class="row">&nbsp;</div><!--  This row is to put a default distance between events -->
      <div class="hero-unit">
              <div class="row" id="7" >
                <div class="col-md-3">
                  <div class="center">
                    <div class="thumbnail">
                      <img alt="Neil grey" class="post-thumb" src="https://s3.amazonaws.com/corecore-events/image/7/medium/Neil_Grey.jpg?1392248143" /></div>
                              <h3 class="upcase">Neil Grey</h3>
                                        <a class="profile-links" href="http://ca.linkedin.com/in/neilgrey"><i class="fa fa-linkedin-square fa-2x linkedin-social profile-links"></i></a>          
                           
                                    <a class="profile-links" href="https://twitter.com/neilgrey"><i class="fa fa-twitter-square fa-2x twitter-social profile-links"></i></a>          
                      <h5 class="upcase jquery-dates"> Past Event</h5>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="">
                      <h4><strong class="upcase">Building Modern Python Web Frameworks Using Flask With Neil Grey </strong></h4>
                      <p class="social-share">Share Event:
                         <div class='social-share-button' data-title='Building Modern Python Web Frameworks Using Flask With Neil Grey ' data-img='' data-url=''>
<a class="social-share-button-twitter" data-site="twitter" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Twitter"></a>
<a class="social-share-button-facebook" data-site="facebook" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Facebook"></a>
<a class="social-share-button-google_plus" data-site="google_plus" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Google+"></a>
<a class="social-share-button-tumblr" data-site="tumblr" data-source="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTdsjWnPtvccjwXi18Hbab91KDKChPoWSMCF0maMUBMjSuwAKQL" data-type="photo" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Tumblr"></a>
</div>
                      </p>
                      <p class="titles">Description: Neil will be demonstrating how to get up and running in minutes with the lean, scalable, and easy to maintain Python web framework, Flask. Attendees will get to see how Flask acts as the sturdy glue between your database framework, front-end templates and operating system. Keep an eye out for tips/tricks using SQLite, Jinja2, and Werkzeug. 

</p>      
                      
                      <p class="titles">Neil is a software developer with a background in 3D graphics programming and management information systems. Presently he's working with Image Engine on feature-film visual effects projects like Teenage Mutant Ninja Turtles, Elysium, Fast & Furious. He's also a co-founder of ComboMash Entertainment, an independent game studio based in Vancouver. <br> <br>
<h4>Sponsored By: </h4> <img src="https://s3.amazonaws.com/codecore-website-data/images/logotype-axiomzen-v3-final-hires-light.png" height = "55px"></p>
                      
                  </div>
                </div>

                <div class="col-md-3 vertical-center-row">
                  <div class="center">
                      <br><br>
                      <br>
                      <br>
                      <br>
                      <p class="titles">Sat, Mar 01, 2014</p>
                      <h5>09:00 AM - 12:00 PM</h5>  
                      <div class="clearfix"></div>
                  </div>  
                </div>                
            </div>
        </div>
        <div class="row">&nbsp;</div><!--  This row is to put a default distance between events -->
      <div class="hero-unit">
              <div class="row" id="6" >
                <div class="col-md-3">
                  <div class="center">
                    <div class="thumbnail">
                      <img alt="Steve mynett" class="post-thumb" src="https://s3.amazonaws.com/corecore-events/image/6/medium/Steve_Mynett.jpg?1392244031" /></div>
                              <h3 class="upcase">Steve Mynett </h3>
                                        <a class="profile-links" href="http://www.linkedin.com/in/stevemynett"><i class="fa fa-linkedin-square fa-2x linkedin-social profile-links"></i></a>          
                           
                                    <a class="profile-links" href="https://twitter.com/SteveMynett"><i class="fa fa-twitter-square fa-2x twitter-social profile-links"></i></a>          
                      <h5 class="upcase jquery-dates"> Past Event</h5>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="">
                      <h4><strong class="upcase">Lessons Learned as a UI Developer with Steve Mynett from Hootsuite</strong></h4>
                      <p class="social-share">Share Event:
                         <div class='social-share-button' data-title='Lessons Learned as a UI Developer with Steve Mynett from Hootsuite' data-img='' data-url=''>
<a class="social-share-button-twitter" data-site="twitter" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Twitter"></a>
<a class="social-share-button-facebook" data-site="facebook" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Facebook"></a>
<a class="social-share-button-google_plus" data-site="google_plus" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Google+"></a>
<a class="social-share-button-tumblr" data-site="tumblr" data-source="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTdsjWnPtvccjwXi18Hbab91KDKChPoWSMCF0maMUBMjSuwAKQL" data-type="photo" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Tumblr"></a>
</div>
                      </p>
                      <p class="titles">Description: “10 lessons learned at HootSuite” A discussion on continuous integration, automated testing, tooling and important of documentation to writing scalable UI’s.
</p>      
                      
                      <p class="titles">Steve is currently hacking on front end code at HootSuite as a UI Developer. With a background in both design and development in products and agencies he bring a lateral skill set and experience to each project. <br> <br>
<h4>Sponsored By: </h4> <img src="https://s3.amazonaws.com/codecore-website-data/images/logotype-axiomzen-v3-final-hires-light.png" height = "55px"></p>
                      
                  </div>
                </div>

                <div class="col-md-3 vertical-center-row">
                  <div class="center">
                      <br><br>
                      <br>
                      <br>
                      <br>
                      <p class="titles">Fri, Feb 28, 2014</p>
                      <h5>12:00 PM - 01:00 PM</h5>  
                      <div class="clearfix"></div>
                  </div>  
                </div>                
            </div>
        </div>
        <div class="row">&nbsp;</div><!--  This row is to put a default distance between events -->
      <div class="hero-unit">
              <div class="row" id="2" >
                <div class="col-md-3">
                  <div class="center">
                    <div class="thumbnail">
                      <img alt="Stewart harper" class="post-thumb" src="https://s3.amazonaws.com/corecore-events/image/2/medium/Stewart_Harper.jpg?1392244315" /></div>
                              <h3 class="upcase">Stewart Harper</h3>
                                        <a class="profile-links" href="http://www.linkedin.com/pub/stewart-harper/4/41a/364"><i class="fa fa-linkedin-square fa-2x linkedin-social profile-links"></i></a>          
                           
                                    <a class="profile-links" href="https://twitter.com/stewart_harper"><i class="fa fa-twitter-square fa-2x twitter-social profile-links"></i></a>          
                      <h5 class="upcase jquery-dates"> Past Event</h5>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="">
                      <h4><strong class="upcase">Concept to customers in one year: lessons learned from bootstrapping a new cloud product within an existing company</strong></h4>
                      <p class="social-share">Share Event:
                         <div class='social-share-button' data-title='Concept to customers in one year: lessons learned from bootstrapping a new cloud product within an existing company' data-img='' data-url=''>
<a class="social-share-button-twitter" data-site="twitter" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Twitter"></a>
<a class="social-share-button-facebook" data-site="facebook" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Facebook"></a>
<a class="social-share-button-google_plus" data-site="google_plus" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Google+"></a>
<a class="social-share-button-tumblr" data-site="tumblr" data-source="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTdsjWnPtvccjwXi18Hbab91KDKChPoWSMCF0maMUBMjSuwAKQL" data-type="photo" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Tumblr"></a>
</div>
                      </p>
                      <p class="titles">Description: A team of three were given the task of building a new cloud product within an existing company. We worked as if we were a startup using the latest technologies and agile methodologies. I will talk through the challenges/advantages we ran into working as an isolated unit and walk through the stack (Rails/AWS) with a focus on the web services we integrated with to save time.</p>      
                      
                      <p class="titles">Stewart is an application developer and project manager focused on spatial web application design and development. He currently is the Technical Director of Cloud Services at Safe Software. An entrepreneurial thinker, he is always looking to develop new ideas or products. He has have worked as a developer, software architect and manager ensuring he has a good understanding of not only the technology, but also how to manage and drive projects forward. <br> <br>
<h4>Sponsored By: </h4> <img src="http://downloads.unbounce.com/brand-assets/logo/Unbounce-Logo-DarkBackground-Digital.png" height = "55px"></p>
                      
                  </div>
                </div>

                <div class="col-md-3 vertical-center-row">
                  <div class="center">
                      <br><br>
                      <br>
                      <br>
                      <br>
                      <p class="titles">Thu, Feb 27, 2014</p>
                      <h5>12:00 PM - 01:00 PM</h5>  
                      <div class="clearfix"></div>
                  </div>  
                </div>                
            </div>
        </div>
        <div class="row">&nbsp;</div><!--  This row is to put a default distance between events -->
      <div class="hero-unit">
              <div class="row" id="4" >
                <div class="col-md-3">
                  <div class="center">
                    <div class="thumbnail">
                      <img alt="John boxall" class="post-thumb" src="https://s3.amazonaws.com/corecore-events/image/4/medium/John_Boxall.jpg?1392244146" /></div>
                              <h3 class="upcase">John Boxall</h3>
                                        <a class="profile-links" href="http://ca.linkedin.com/in/jboxall"><i class="fa fa-linkedin-square fa-2x linkedin-social profile-links"></i></a>          
                           
                                    <a class="profile-links" href="https://twitter.com/johnboxall"><i class="fa fa-twitter-square fa-2x twitter-social profile-links"></i></a>          
                      <h5 class="upcase jquery-dates"> Past Event</h5>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="">
                      <h4><strong class="upcase">The Evolution of a Development Team with John Boxall from Mobify</strong></h4>
                      <p class="social-share">Share Event:
                         <div class='social-share-button' data-title='The Evolution of a Development Team with John Boxall from Mobify' data-img='' data-url=''>
<a class="social-share-button-twitter" data-site="twitter" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Twitter"></a>
<a class="social-share-button-facebook" data-site="facebook" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Facebook"></a>
<a class="social-share-button-google_plus" data-site="google_plus" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Google+"></a>
<a class="social-share-button-tumblr" data-site="tumblr" data-source="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTdsjWnPtvccjwXi18Hbab91KDKChPoWSMCF0maMUBMjSuwAKQL" data-type="photo" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Tumblr"></a>
</div>
                      </p>
                      <p class="titles">Description: John will be doing a presentation on the evolution of his Mobify development team from 2007-2014. Mobify is an open platform to adapt any website for mobile devices: smartphones, tablets and more.</p>      
                      
                      <p class="titles">John is CTO of Mobify, a company he helped co-found with Igor Faletski and Peter McLachlan in 2007. A client-side web technologist, John is focused on building Mobify’s technology to deliver fast, reliable and future-proof solutions to our multi-channel customers and partners. </p>
                      
                  </div>
                </div>

                <div class="col-md-3 vertical-center-row">
                  <div class="center">
                      <br><br>
                      <br>
                      <br>
                      <br>
                      <p class="titles">Wed, Feb 26, 2014</p>
                      <h5>12:00 PM - 01:00 PM</h5>  
                      <div class="clearfix"></div>
                  </div>  
                </div>                
            </div>
        </div>
        <div class="row">&nbsp;</div><!--  This row is to put a default distance between events -->
      <div class="hero-unit">
              <div class="row" id="1" >
                <div class="col-md-3">
                  <div class="center">
                    <div class="thumbnail">
                      <img alt="Angelina fabbro" class="post-thumb" src="https://s3.amazonaws.com/corecore-events/image/1/medium/Angelina_Fabbro.jpeg?1392244118" /></div>
                              <h3 class="upcase">Angelina Fabbro</h3>
                           
                                    <a class="profile-links" href="http://www.twitter.com/angelinamagnum"><i class="fa fa-twitter-square fa-2x twitter-social profile-links"></i></a>          
                      <h5 class="upcase jquery-dates"> Past Event</h5>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="">
                      <h4><strong class="upcase">Rapidly prototyping mobile HTML5 applications in your browser with Angelina Fabbro from Mozilla</strong></h4>
                      <p class="social-share">Share Event:
                         <div class='social-share-button' data-title='Rapidly prototyping mobile HTML5 applications in your browser with Angelina Fabbro from Mozilla' data-img='' data-url=''>
<a class="social-share-button-twitter" data-site="twitter" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Twitter"></a>
<a class="social-share-button-facebook" data-site="facebook" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Facebook"></a>
<a class="social-share-button-google_plus" data-site="google_plus" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Google+"></a>
<a class="social-share-button-tumblr" data-site="tumblr" data-source="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTdsjWnPtvccjwXi18Hbab91KDKChPoWSMCF0maMUBMjSuwAKQL" data-type="photo" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Tumblr"></a>
</div>
                      </p>
                      <p class="titles">Description: Angelina will be covering Mozilla&#39;s Brick which is a bundle of reusable UI components created to enable rapid development of cross-browser and mobile-friendly HTML5 web applications. mozilla.github.io/brick/</p>      
                      
                      <p class="titles">Angelina Fabbro is on the developer tools team at Mozilla and is an Engineering Developer Advocate. They have a strong background in mobile application development, and a penchant for the web</p>
                      
                  </div>
                </div>

                <div class="col-md-3 vertical-center-row">
                  <div class="center">
                      <br><br>
                      <br>
                      <br>
                      <br>
                      <p class="titles">Tue, Feb 25, 2014</p>
                      <h5>12:00 PM - 01:00 PM</h5>  
                      <div class="clearfix"></div>
                  </div>  
                </div>                
            </div>
        </div>
        <div class="row">&nbsp;</div><!--  This row is to put a default distance between events -->
      <div class="hero-unit">
              <div class="row" id="3" >
                <div class="col-md-3">
                  <div class="center">
                    <div class="thumbnail">
                      <img alt="Boris mann" class="post-thumb" src="https://s3.amazonaws.com/corecore-events/image/3/medium/Boris_Mann.jpg?1392244289" /></div>
                              <h3 class="upcase">Boris Mann</h3>
                                        <a class="profile-links" href="http://www.linkedin.com/in/boris"><i class="fa fa-linkedin-square fa-2x linkedin-social profile-links"></i></a>          
                           
                                    <a class="profile-links" href="https://twitter.com/bmann"><i class="fa fa-twitter-square fa-2x twitter-social profile-links"></i></a>          
                      <h5 class="upcase jquery-dates"> Past Event</h5>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="">
                      <h4><strong class="upcase">Product Consulting: Moving from Services to Product with Boris Mann from FullStack</strong></h4>
                      <p class="social-share">Share Event:
                         <div class='social-share-button' data-title='Product Consulting: Moving from Services to Product with Boris Mann from FullStack' data-img='' data-url=''>
<a class="social-share-button-twitter" data-site="twitter" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Twitter"></a>
<a class="social-share-button-facebook" data-site="facebook" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Facebook"></a>
<a class="social-share-button-google_plus" data-site="google_plus" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Google+"></a>
<a class="social-share-button-tumblr" data-site="tumblr" data-source="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTdsjWnPtvccjwXi18Hbab91KDKChPoWSMCF0maMUBMjSuwAKQL" data-type="photo" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Tumblr"></a>
</div>
                      </p>
                      <p class="titles">Description: Boris will be speaking on why even though making product is hard you should be trying to move past hour-based billing. He will cover the importance of productizing your services, investing in them and why companies cannot be outsourcing the products they do create.</p>      
                      
                      <p class="titles">Boris is the founder and managing partner of Full Stack, a "napkin capital" angel investment firm that works with and funds early stage technology companies.</p>
                      
                  </div>
                </div>

                <div class="col-md-3 vertical-center-row">
                  <div class="center">
                      <br><br>
                      <br>
                      <br>
                      <br>
                      <p class="titles">Mon, Feb 24, 2014</p>
                      <h5>12:00 PM - 01:00 PM</h5>  
                      <div class="clearfix"></div>
                  </div>  
                </div>                
            </div>
        </div>
        <div class="row">&nbsp;</div><!--  This row is to put a default distance between events -->
    </div>


<div class="clearfix"></div>  
</section>



<section id="team-photos">
  <h3 class="titles team-photo-padding">Website Created by CodeCore-Cohort #1 <strong>Week 4</strong></h3>
  <div class="box">
    
      <div class="col-lg-2 col-md-2 col-sm-5 well center-block">
  
  <p class="center bold">Salman Alam</p>
  <img src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/3/000/1dc/084/27913f6.jpg" class="center-block img-circle img-responsive">
  <br>
  <p class="profile-links center">
    <a href="http://www.linkedin.com/in/salmanalam19" target="_blank"><i class="fa fa-linkedin-square fa-2x linkedin-social"></i></a> 
    <a href="https://github.com/salmanprk" target="_blank"><i class="fa fa-github-square fa-2x github-social"></i></a> 
     
  </p>
</div>
<div class="col-lg-1 col-md-1 col-sm-1">
   &nbsp;
</div>
      <div class="col-lg-2 col-md-2 col-sm-5 well center-block">
  
  <p class="center bold">Abrar Musa</p>
  <img src="https://1.gravatar.com/avatar/49be1c933f15a9e7b96c6dd7f989eddd?d=https%3A%2F%2Fidenticons.github.com%2F0169f0d2f7c88863e7dfe9ba64a15213.png&amp;r=x&amp;s=400" class="center-block img-circle img-responsive">
  <br>
  <p class="profile-links center">
    <a href="http://www.linkedin.com/profile/view?id=145789888&amp;locale=en_US&amp;trk=tyah2&amp;trkInfo=tas%3AAbrar%20Musa%2Cidx%3A1-1-1" target="_blank"><i class="fa fa-linkedin-square fa-2x linkedin-social"></i></a> 
    <a href="https://github.com/abrarmusa" target="_blank"><i class="fa fa-github-square fa-2x github-social"></i></a> 
     
    <a href="http://www.twitter.com/drew_bro" target="_blank"><i class="fa fa-twitter-square fa-2x twitter-social"></i></a>
  </p>
</div>
<div class="col-lg-1 col-md-1 col-sm-1">
   &nbsp;
</div>
      <div class="col-lg-2 col-md-2 col-sm-5 well center-block">
  
  <p class="center bold">Drew Ogryzek</p>
  <img src="https://lh5.googleusercontent.com/-Q5KW5u0k_jw/UgBAzjf9kiI/AAAAAAAAAO8/lLRdbGuy6tM/s612-no/DrewGrey.png" class="center-block img-circle img-responsive">
  <br>
  <p class="profile-links center">
    <a href="http://www.linkedin.com/profile/view?id=316501614&amp;trk=nav_responsive_tab_profile_pic" target="_blank"><i class="fa fa-linkedin-square fa-2x linkedin-social"></i></a> 
    <a href="https://github.com/ogryzek" target="_blank"><i class="fa fa-github-square fa-2x github-social"></i></a> 
     
    <a href="http://www.twitter.com/drew_bro" target="_blank"><i class="fa fa-twitter-square fa-2x twitter-social"></i></a>
  </p>
</div>
<div class="col-lg-1 col-md-1 col-sm-1">
   &nbsp;
</div>
      <div class="col-lg-2 col-md-2 col-sm-5 well center-block">
  
  <p class="center bold">Arash Ouji</p>
  <img src="https://lh3.googleusercontent.com/-XTOG0kkqsPk/Uvk42tyDuFI/AAAAAAAAADs/aR_GHP1C3Pw/s120/image22.png" class="center-block img-circle img-responsive">
  <br>
  <p class="profile-links center">
    <a href="http://www.linkedin.com/profile/view?id=187414180" target="_blank"><i class="fa fa-linkedin-square fa-2x linkedin-social"></i></a> 
    <a href="https://github.com/aouji" target="_blank"><i class="fa fa-github-square fa-2x github-social"></i></a> 
     
  </p>
</div>
<div class="col-lg-1 col-md-1 col-sm-1">
   &nbsp;
</div>
      <div class="col-lg-2 col-md-2 col-sm-5 well center-block">
  
  <p class="center bold">Brandon Ricci</p>
  <img src="http://i.imgur.com/LJ7hMNS.jpg" class="center-block img-circle img-responsive">
  <br>
  <p class="profile-links center">
    <a href="http://www.linkedin.com/profile/view?id=248163787&amp;trk=nav_responsive_tab_profile_pic" target="_blank"><i class="fa fa-linkedin-square fa-2x linkedin-social"></i></a> 
    <a href="https://github.com/brandontricci" target="_blank"><i class="fa fa-github-square fa-2x github-social"></i></a> 
     
  </p>
</div>
<div class="col-lg-1 col-md-1 col-sm-1">
   &nbsp;
</div>
      <div class="col-lg-2 col-md-2 col-sm-5 well center-block">
  
  <p class="center bold">Kelly Waters</p>
  <img src="http://m.c.lnkd.licdn.com/media/p/5/000/23d/169/16ef873.jpg" class="center-block img-circle img-responsive">
  <br>
  <p class="profile-links center">
    <a href="http://www.linkedin.com/profile/view?id=46306336&amp;locale=en_US&amp;trk=tyah&amp;trkInfo=tas%3Ake%2Cidx%3A2-4-5" target="_blank"><i class="fa fa-linkedin-square fa-2x linkedin-social"></i></a> 
    <a href="https://github.com/kwaters12" target="_blank"><i class="fa fa-github-square fa-2x github-social"></i></a> 
     
    <a href="http://www.twitter.com/kellyminjaro" target="_blank"><i class="fa fa-twitter-square fa-2x twitter-social"></i></a>
  </p>
</div>
<div class="col-lg-1 col-md-1 col-sm-1">
   &nbsp;
</div>
      <div class="col-lg-2 col-md-2 col-sm-5 well center-block">
  
  <p class="center bold">Don Wong</p>
  <img src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-frc3/t31/1890466_10150360844189981_70242708_o.jpg" class="center-block img-circle img-responsive">
  <br>
  <p class="profile-links center">
    <a href="http://www.linkedin.com/pub/d-wong/36/213/173" target="_blank"><i class="fa fa-linkedin-square fa-2x linkedin-social"></i></a> 
    <a href="https://github.com/donwon" target="_blank"><i class="fa fa-github-square fa-2x github-social"></i></a> 
     
  </p>
</div>
<div class="col-lg-1 col-md-1 col-sm-1">
   &nbsp;
</div>
      <div class="col-lg-2 col-md-2 col-sm-5 well center-block">
  
  <p class="center bold">Jef Curtis</p>
  <img src="http://assets.vancitybuzz.com/wp-content/uploads/2014/02/Jef-300x300.jpg" class="center-block img-circle img-responsive">
  <br>
  <p class="profile-links center">
    <a href="http://www.linkedin.com/profile/view?id=316499239&amp;trk=nav_responsive_tab_profile" target="_blank"><i class="fa fa-linkedin-square fa-2x linkedin-social"></i></a> 
    <a href="https://github.com/JefCurtis" target="_blank"><i class="fa fa-github-square fa-2x github-social"></i></a> 
     
    <a href="http://www.twitter.com/jefcurtis" target="_blank"><i class="fa fa-twitter-square fa-2x twitter-social"></i></a>
  </p>
</div>
<div class="col-lg-1 col-md-1 col-sm-1">
   &nbsp;
</div>
 <div class="clearfix"></div>
 </div>



    <div class="clear-float"></div>
</section>



