
<%= render 'blk_section1' %>


<%= render 'blk_section2' %>


<%= render 'blk_section3' %>




<section id="photo3">
  <h1 id="titles">Website Created by CodeCore-CohortOne</h1>
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1">
       &nbsp;
    </div>
    <% team_members.each do |member_hash| %>
      <%= render "team_member", member_hash: member_hash %>
    <% end %>
  </div>
</section>

<script>
$('a').click(function(){
    $('html, body').animate({
        scrollTop: $( $(this).attr('href') ).offset().top
    }, 800);
    return false;
});
</script>
