.admin-form{
  margin-right: 10px;
  color: black;
  letter-spacing: 2px;
  padding-top: 0px;
  line-height: 1;
}

.admin-titles{
  font-size: 2em;
  margin-right: 10px;
  color: black;
  letter-spacing: 1px;
  padding-top: 0px;
  line-height: 1;
}