@import 'cssreset.css';
@import 'bootstrap';
@import 'codecore-fonts.css';

/* this should be right after the imports, very critical */
html { height:100%; /* Required to get min height 100% to work */ }
body { height:100%; /* Required for min-height 100% in section This made the backgound of size work */ 
color: #333; padding: 0px; margin: 0px auto; }

//This navbar padding is here so that the background image of the paralax is flush with the header.
.navbar { padding:0px; margin:0px;}
.center { text-align: center; }

#titles {
  font-weight: 300;
  margin-right: 10px;
  color: white;
  letter-spacing: 2px;
  padding-top: 0px;
  line-height: 1;
}

#titles a {color: white;}

#upcase {
  font-weight: 300;
  margin-right: 10px;
  color: white;
  text-transform: uppercase;;
  letter-spacing: 2px;
  padding-top: 0px;
  line-height: 1;
}

#upcase a {color: white;}

.home-button{
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  width: 150px;
  transition:.3s;
}

.home-button:hover {
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
  -webkit-box-shadow: 1px -10px 84px 0px rgba(255,255,255,0.5);
  -moz-box-shadow: 1px -10px 84px 0px rgba(255,255,255,0.5);
  box-shadow: 1px -10px 84px 0px rgba(255,255,255,0.5);
}


#parallax { color: #333; margin:0px auto;}
#parallax h1 { font-size: 2em; line-height:1; margin-bottom: 1em; }
#parallax p { line-height: 1.5; margin-bottom:1em;}
#parallax section { border-bottom: 4px solid #fff; padding: 50px 75px; min-height: 100%; width: 100%; border:none;/*parent height needs to be 100% */ }

#parallax #header { background: #39f; color: #fff; }
#parallax #about { background: url(../assets/backgrounds/dark_stripes.png) repeat; color: #fff; }
#parallax #photo1 { color: #fff; background: url(http://upload.wikimedia.org/wikipedia/commons/b/ba/Downtown_Vancouver_Sunset.jpg)
no-repeat center center fixed; 
/*background size*/
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
#parallax #photo2 { color: white; background: url(http://www.codecore.ca/wp-content/themes/CodeCore/img/front2.jpg)
  no-repeat center center fixed; 
  /*background size*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#parallax #photo3 { color: white; background: url(https://dl.dropboxusercontent.com/u/525680/ruby_code.jpg)
  no-repeat center center fixed; 
  /*background size*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


//this photo3 row puts a transparent box behind the events
//#photo3 .row { background-color: rgba(0,0,0,0.5); padding:25px; border: 1px solid rgb(0,0,0)}
#photo3 .hero-unit{ background-color: rgba(0,0,0,0.5); padding:25px; border: 1px solid rgb(0,0,0)}

#parallax #contact { background: #fff; color: #39f; }
#parallax #footer { background: #39f; color: #fff; }

#photo1 .hero-unit{ background-color: rgba(0,0,0,0.5); padding:25px; border: 1px solid rgb(0,0,0)}
#photo1 .box{ background-color: rgb(0,0,0); padding:25px; border: 1px solid rgb(0,0,0)}
@media (min-width: 980px) {#wrapper {background: red;}}
@media (min-width: 481px)  and (max-width: 767px) { #wrapper {background: yellow; }}
@media (min-width: 480px) {#wrapper {background: blue; }}


//from kelly's code

.thumbnail {width: 200px; height: 100%; border-radius: 0; padding: 0; margin-right: 10px; background: none;}

//Checkbox Code from Kelly
#photo3 input[type='checkbox'] {
    margin-top: -30px;
}
#photo3 input[type='checkbox'] {

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    width: 100px;
    height: 100px;
    margin: 0 auto;

    display: block;
    
    position: relative;
    cursor:pointer;
}
#photo3 input[type='checkbox']:after {
    content:"";
    vertical-align: middle;
    text-align: center;
    line-height: 100px;
    position: absolute;
    cursor: pointer;
    height: 100px;
    width: 100px;
    content:'\2714';
    color: #86090b;

    font-size:98px;

    -webkit-box-shadow: inset 5px 5px 5px rgba(0,0,0,0.5), 0px 2px 0px #444;
    -moz-box-shadow: inset 5px 5px 5px rgba(0,0,0,0.5), 0px 2px 0px #444;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.5), 0px 0px 2px #444;
    background: #86090b;
}

#photo3 input[type='checkbox']:hover:after {
    background: #86090b;
    

    color: #888;
}
#photo3 input[type='checkbox']:checked:hover:after {
    background: #CB0D0F;
    content:'\2714';
    color: #fff;
}
#photo3 input[type='checkbox']:checked:after {
    background: #CB0D0F;
    content:'\2714';
    color: #fff;
}

footer {
  li {
    display: inline-block;
  }
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: gray;
  a {
    color: silver;
    &:hover {
      color: gray;
    }
  }
}
