<footer class="center">
    CodeCore Cohort No.1 2014
  <nav>
    <ul class="pull-right">
      <li><%= link_to "About",   "#" %></li>
      <li><%= link_to "Contact", "#" %></li>
      <li><%= link_to "Privacy Policy", "#" %></li>
    </ul>
  </nav>
</footer>