<header class="navbar navbar-inverse">
  <div class="navbar-inner">
      <div class="codecore-logo"><a href="http://www.codecore.ca" target="_blank"><img src="http://imgur.com/9OcrveD.jpg" width= "240px"></a>
      </div>
  </div>
</header>
