<header class="navbar navbar-inverse">
      <div class="navbar-inner">
          <div><img src="http://i.imgur.com/iHNBzq3.jpg"><font color="red"></font></div>
        </div>
      </div>
    </header>
