<header class="navbar navbar-inverse">
      <div class="navbar-inner">
          <div><a href="http://www.codecore.ca" target="_blank"><img src="http://i.imgur.com/iHNBzq3.jpg"></a></div>
        </div>
      </div>
    </header>
