<header class="navbar navbar-inverse">
      <div class="navbar-inner">
          <div><img src="http://www.codecore.ca/wp-content/themes/CodeCore/img/logo2.png"><font color="red"></font></div>
        </div>
      </div>
    </header>