<header class="navbar navbar-inverse">
  <div class="navbar-inner">
      <div class="codecore-logo"><a href="http://www.codecore.ca" target="_blank"><img src="http://imgur.com/9OcrveD.jpg" width= "240px"></a>
      <div class="third-logo"><span class="sponsors"> SPONSORED BY:</span> <a href="http://unbounce.com/" target="_blank"><img src="http://downloads.unbounce.com/brand-assets/logo/Unbounce-Logo-DarkBackground-Digital.png" height= "55px"></a>
      <a href="http://www.axiomzen.co/" target="_blank"><img src="https://photos-6.dropbox.com/t/0/AABEvQJYincUROboCUmAHjTgkODCwKwzueQ0iPDg1L4lcA/12/226851757/png/1024x768/3/1393376400/0/2/logotype-axiomzen-v3-final-hires-light.png/RjdSKuja4w3eAMiukqRg7vh84tZXDQwx_24xxhsEKjM" height= "55px"></a>
      </div>

      </div>
  </div>
</header>
